*.pyc
*.pyo
*.log
*.out
*.bak
*.tmp
*.gz
*.tar
*.zip
*~
*.swp
.DS_Store
core.*
output/
build/
_bak/
dist/
piglab.egg-info/
log/
log
tmp
output
__pycache__
._*
.vscode
.idea/
data/cifar-10-batches-py/
data/train/
data/test/
